# Copyright (c) 2017-present SIGHUP s.r.l All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

AUTHENTICATE_SERVICE_HOST=pomerium.${MACHINE_IP_NIP_DOMAIN}
AUTHENTICATE_SERVICE_URL=https://$(AUTHENTICATE_SERVICE_HOST):${EXTERNAL_PORT}
AUTOCERT=false
FORWARD_AUTH_HOST=pomerium.${MACHINE_IP_NIP_DOMAIN}
FORWARD_AUTH_URL=https://$(FORWARD_AUTH_HOST):${EXTERNAL_PORT}
IDP_CLIENT_ID=pomerium
IDP_PROVIDER=oidc
IDP_PROVIDER_URL=https://dex.${MACHINE_IP_NIP_DOMAIN}:${EXTERNAL_PORT}
IDP_SCOPES=openid profile email groups
LOG_LEVEL=info
POMERIUM_DEBUG=false

# SSL settings for self-signed certs
SSL_CERT_FILE=/certs/ca.crt